.margin {
  @each $type, $value in $sizes {
    &-#{$type} {
      margin: var(--space-#{$type});
    }

    &-right-#{$type} {
      margin-right: var(--space-#{$type});
    }

    &-left-#{$type} {
      margin-left: var(--space-#{$type});
    }

    &-top-#{$type} {
      margin-top: var(--space-#{$type});
    }

    &-bottom-#{$type} {
      margin-bottom: var(--space-#{$type});
    }

    &-x-#{$type} {
      margin-left: var(--space-#{$type});
      margin-right: var(--space-#{$type});
    }

    &-y-#{$type} {
      margin-bottom: var(--space-#{$type});
      margin-top: var(--space-#{$type});
    }
  }
  &-x-auto {
    margin-left: auto;
    margin-right: auto;
  }

  &-y-auto {
    margin-bottom: auto;
    margin-top: auto;
  }
  &-auto {
    margin: 0 auto;
  }
}
